/* Format grid items */

/* Format grid container */
#container {
    border: 1px solid;
    border-color: black;
    height: 480px;
    width: 480px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
}
